.country-wrapper {
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;

    &:hover {
        background-color: var(--card-background-secondary);
    }
    .name {
        font-size: 1.8rem;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        .code {
            font-size: 1.4rem;
            margin-left: 0.5rem;
        }
    }
    .region-name {
        display: inline-block;
    }
    .language-list {
        list-style: none;
        padding-left: 10px;
        margin: 0.5rem 0;
    }

    .flag {
        height: 2rem;
    }

}