.country-wrapper {
    display: flex;
    padding: 10px 5px;
    box-sizing: border-box;
    vertical-align: center;

    .name {
        font-size: 18px;
    }
    .code {
        font-size: 14px;
        margin-left: 5px;
    }
}