.country-wrapper {
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background-color: var(--card-background-secondary);
    }

    .flag {
        height: 2rem;
    }
    .name {
        font-size: 1.8rem;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        .code {
            font-size: 1.4rem;
            margin-left: 0.5rem;
        }
    }
    .capital {
        font-size: 1.4rem;
        color: var(--text-secondary);
    }
}