@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

BODY {
  background-color: var(--body-background);
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--card-background);
  padding: 50px 30px;
  box-sizing: border-box;
  border-radius: 3px;
}