.search-input-component { 
    #ResetButton {
        height: 0;
        width: 0;
        padding: 0;
        border: none;
    }
    .search-input-icon {
        max-width: 20px;
        max-height: 20px;
    }
}