BODY {
  background-color: var(--body-background);
  margin: 0;
  color: var(--text);
}

// Set some rules for the app container
.app {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--card-background);
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.31); 
  box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.31);

  .site-content-wrapper {
    padding: 50px 30px;
    box-sizing: border-box;
  }
}

// set up some global rules for common elements

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

input[type=text] {
    border: none;
    font-size: 20px;
    padding: 8px 5px;
    background-color: var(--input-background);
    &:hover, &:focus {
        background-color: var(--input-background-hover);
    }

    &:focus {
        outline: none;
    }
}