@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    --body-background: #09203d;
    --card-background: #fff;
    --card-background-secondary: #ededf2;
    --text: #0f0f0f;
    --text-secondary: #363645;
    --inverse-text: #fff;
    --input-background: #e9e9f2;    
    --input-background-hover: #f5f5fa;
    --error-background: #f7d7db;
    --error-border: #b8123e;
    --loading-spinner: #f0c954;

    font-family: 'Nanum Gothic', sans-serif;
    --bg-image: 'Earth-light.jpg';
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

input[type=text] {
    border: none;
    font-size: 20px;
    padding: 8px 5px;
    background-color: var(--input-background);
    &:hover, &:focus {
        background-color: var(--input-background-hover);
    }

    &:focus {
        outline: none;
    }
}
